@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  padding: 100px;
  h2 {
    color: #111111;
    font-size: 3rem;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    line-height: 1.1;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
  }
  button {
    padding: 15px 49px 16px;
    background-color: #6d71e5;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    outline: none;
    &:hover {
      background-color: blue;
    }
  }
}
.one {
  background-color: #b0d8d6;
  border-radius: 40px;
  padding: 30px 20px 35px 35px;
  position: relative;
  bottom: 0;
  left: 0;

  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    text-align: left;
  }
}
.two {
  background-color: #b0d8d6;
  border-radius: 40px;
  padding: 30px 20px 35px 35px;
  position: relative;
  bottom: 60px;
  left: 70px;

  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    text-align: left;
  }
}
.three {
  background-color: #6d71e5;
  border-radius: 40px;
  padding: 30px 20px 35px 35px;
  position: relative;
  bottom: 130px;
  left: 140px;
  color: white;

  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    text-align: left;
  }
}
.footer{
  background-color: #333333;
  font-size: 12.8px;
  font-family: "Open Sans", sans-serif;
  p{
    color: white;
  }
  a{
    color: #c1c3d6;
    &:hover{
      color:#b8988a;
      text-decoration: none;
    }
  }
}
